<div class="row">
  <div class="col-lg-12">
    <% if (Object.keys(errors).length === 0) { %>
    <h1 id="forms">Employer Form</h1>
    <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="/" novalidate>
      <!--
      <div class="form-group <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4"><%= data.message %></textarea>
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      </div>
      -->
      <div class="form-group <%= errors.employer ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="employer">Employer Name</label>
        <input type="text" class="form-control" id="employer" name="employer"><%= data.employer %></input>
        <% if (errors.employer) { %>
        <div class="error"><%= errors.employer.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="catchment">Location(s) (select all that apply)</label>
        <select multiple aria-describedby="catchment" aria-required="true" class="form-control" id="catchment" name="catchmentSelector" size="25">
          <option value="100MILEHOUSE">100 MILE HOUSE</option>
          <option value="ABBOTSFORD">ABBOTSFORD</option>
          <option value="AGASSIZ">AGASSIZ</option>
          <option value="ALDERGROVE">ALDERGROVE</option>
          <option value="ASHCROFT">ASHCROFT</option>
          <option value="BARRIERE">BARRIERE</option>
          <option value="BELLACOOLA">BELLA COOLA</option>
          <option value="BURNABY">BURNABY</option>
          <option value="BURNSLAKE">BURNS LAKE</option>
          <option value="CAMPBELLRIVER">CAMPBELL RIVER</option>
          <option value="CASTLEGAR">CASTLEGAR</option>
          <option value="CHASE">CHASE</option>
          <option value="CHETWYND">CHETWYND</option>
          <option value="CHILLIWACK">CHILLIWACK</option>
          <option value="CLEARWATER">CLEARWATER</option>
          <option value="COQUITLAM">COQUITLAM</option>
          <option value="COURTENAY">COURTENAY</option>
          <option value="CRANBROOK">CRANBROOK</option>
          <option value="CRESTON">CRESTON</option>
          <option value="DAWSONCREEK">DAWSON CREEK</option>
          <option value="DELTA">DELTA</option>
          <option value="DUNCAN">DUNCAN</option>
          <option value="ENDERBY">ENDERBY</option>
          <option value="FERNIE">FERNIE</option>
          <option value="FORTNELSON">FORT NELSON</option>
          <option value="FORTSTJAMES">FORT ST. JAMES</option>
          <option value="FORTSTJOHN">FORT ST. JOHN</option>
          <option value="GANGES">GANGES</option>
          <option value="GOLDEN">GOLDEN</option>
          <option value="GRANDFORKS">GRAND FORKS</option>
          <option value="HAIDAGWAII">HAIDA GWAII</option>
          <option value="HAZELTON">HAZELTON</option>
          <option value="HOPE">HOPE</option>
          <option value="INVERMERE">INVERMERE</option>
          <option value="KAMLOOPS">KAMLOOPS</option>
          <option value="KELOWNA">KELOWNA</option>
          <option value="KITIMAT">KITIMAT</option>
          <option value="LADYSMITH">LADYSMITH</option>
          <option value="LANGFORD">LANGFORD</option>
          <option value="LANGLEY">LANGLEY</option>
          <option value="LILLOOET">LILLOOET</option>
          <option value="MACKENZIE">MACKENZIE</option>
          <option value="MAPLERIDGE">MAPLE RIDGE</option>
          <option value="MASSET">MASSET</option>
          <option value="MERRITT">MERRITT</option>
          <option value="MISSION">MISSION</option>
          <option value="NAKUSP">NAKUSP</option>
          <option value="NANAIMO">NANAIMO</option>
          <option value="NELSON">NELSON</option>
          <option value="NEWWESTMINSTER">NEW WESTMINSTER</option>
          <option value="NORTHVANCOUVER">NORTH VANCOUVER</option>
          <option value="OLIVER">OLIVER</option>
          <option value="PARKSVILLE">PARKSVILLE</option>
          <option value="PENTICTON">PENTICTON</option>
          <option value="PORTALBERNI">PORT ALBERNI</option>
          <option value="PORTCOQUITLAM">PORT COQUITLAM</option>
          <option value="PORTHARDY">PORT HARDY</option>
          <option value="PORTMOODY">PORT MOODY</option>
          <option value="POWELLRIVER">POWELL RIVER</option>
          <option value="PRINCEGEORGE">PRINCE GEORGE</option>
          <option value="PRINCERUPERT">PRINCE RUPERT</option>
          <option value="PRINCETON">PRINCETON</option>
          <option value="QUEENCHARLOTTE">QUEEN CHARLOTTE</option>
          <option value="QUESNEL">QUESNEL</option>
          <option value="REVELSTOKE">REVELSTOKE</option>
          <option value="RICHMOND">RICHMOND</option>
          <option value="RUTLAND">RUTLAND</option>
          <option value="SAANICH">SAANICH</option>
          <option value="SALMONARM">SALMON ARM</option>
          <option value="SALTSPRINGISLAND">SALT SPRING ISLAND</option>
          <option value="SECHELT">SECHELT</option>
          <option value="SICAMOUS">SICAMOUS</option>
          <option value="SIDNEY">SIDNEY</option>
          <option value="SMITHERS">SMITHERS</option>
          <option value="SOOKE">SOOKE</option>
          <option value="SOUTHSURREY">SOUTH SURREY</option>
          <option value="SQUAMISH">SQUAMISH</option>
          <option value="SUMMERLAND">SUMMERLAND</option>
          <option value="SURREYCLOVERDALE">SURREY CLOVERDALE</option>
          <option value="SURREYFLEETWOODGUILDFORD">SURREY FLEETWOOD/GUILDFORD</option>
          <option value="SURREYNEWTON">SURREY NEWTON</option>
          <option value="SURREYWHALLEY">SURREY WHALLEY</option>
          <option value="TERRACE">TERRACE</option>
          <option value="TOFINO">TOFINO</option>
          <option value="TRAIL">TRAIL</option>
          <option value="UCLUELET">UCLUELET</option>
          <option value="VALEMOUNT">VALEMOUNT</option>
          <option value="VANCOUVERCITYCENTRE">VANCOUVER CITY CENTRE</option>
          <option value="VANCOUVERDOWNTOWNEASTSIDE">VANCOUVER DOWNTOWN EASTSIDE</option>
          <option value="VANCOUVERMIDTOWN">VANCOUVER MIDTOWN</option>
          <option value="VANCOUVERNORTHEAST">VANCOUVER NORTHEAST</option>
          <option value="VANCOUVERSOUTH">VANCOUVER SOUTH</option>
          <option value="VANCOUVERWESTSIDE">VANCOUVER WESTSIDE</option>
          <option value="VANDERHOOF">VANDERHOOF</option>
          <option value="VERNON">VERNON</option>
          <option value="VICTORIA">VICTORIA</option>
          <option value="WESTBANK">WESTBANK</option>
          <option value="WHISTLER">WHISTLER</option>
          <option value="WHITEROCK">WHITE ROCK</option>
          <option value="WILLIAMSLAKE">WILLIAMS LAKE</option>
        </select>
        <% if (errors.catchment) { %>
          <div class="invalid-feedback"><%= errors.catchment.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.jobtitle ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="jobtitle">Job Title</label>
          <input type="text" class="form-control" id="jobtitle" name="jobtitle"><%= data.jobtitle %></input>
          <% if (errors.jobtitle) { %>
          <div class="error"><%= errors.jobtitle.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.positions ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="positions"># of Positions</label>
          <input type="text" class="form-control" id="positions" name="positions"><%= data.positions %></input>
          <% if (errors.positions) { %>
          <div class="error"><%= errors.positions.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group <%= errors.hrcontactname ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="hrcontactname">HR Contact Name(s)</label>
        <input type="text" class="form-control" id="hrcontactname"
          name="hrcontactname"><%= data.hrcontactname %></input>
        <% if (errors.hrcontactname) { %>
        <div class="error"><%= errors.hrcontactname.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.contactemail ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="contactemail">Contact Email</label>
          <input type="text" class="form-control" id="contactemail" name="contactemail"><%= data.contactemail %></input>
          <% if (errors.contactemail) { %>
          <div class="error"><%= errors.contactemail.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.contactphone ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="contactphone">Contact Phone</label>
          <input type="text" class="form-control" id="contactphone" name="contactphone"><%= data.contactphone %></input>
          <% if (errors.contactphone) { %>
          <div class="error"><%= errors.contactphone.msg %></div>
          <% } %>
        </div>
      </div>
      <h2>Job Description</h2>
      <div class="form-group <%= errors.rolesandresponsibilities ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="rolesandresponsibilities">Role and Responsibilities</label>
        <textarea class="form-control" id="rolesandresponsibilities" name="rolesandresponsibilities"
          rows="6"><%= data.rolesandresponsibilities %></textarea>
        <% if (errors.rolesandresponsibilities) { %>
        <div class="error"><%= errors.rolesandresponsibilities.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.qualifications ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="qualifications">Qualifications and Education
          Requirements</label>
        <textarea class="form-control" id="qualifications" name="qualifications"
          rows="6"><%= data.qualifications %></textarea>
        <% if (errors.qualifications) { %>
        <div class="error"><%= errors.qualifications.msg %></div>
        <% } %>
      </div>
      <h3>Job Details</h3>
      <div class="form-row">
        <div class="form-group col-md-4 <%= errors.hoursofwork ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="hoursofwork">Hours of Work</label>
          <input type="text" class="form-control" id="hoursofwork" name="hoursofwork"><%= data.hoursofwork %></input>
          <% if (errors.hoursofwork) { %>
          <div class="error"><%= errors.hoursofwork.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4 <%= errors.hourlypay ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="hourlypay">Hourly rate of pay</label>
          <input type="text" class="form-control" id="hourlypay" name="hourlypay"><%= data.hourlypay %></input>
          <% if (errors.hourlypay) { %>
          <div class="error"><%= errors.hourlypay.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4 <%= errors.positiontype ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="positiontype">Position type</label>
          <input type="text" class="form-control" id="positiontype" name="positiontype"><%= data.positiontype %></input>
          <% if (errors.positiontype) { %>
          <div class="error"><%= errors.positiontype.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group <%= errors.physicalrequirements ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="physicalrequirements">Physical requirements</label>
        <input class="form-control" id="physicalrequirements" name="physicalrequirements"><%= data.physicalrequirements %></input>
        <% if (errors.physicalrequirements) { %>
          <div class="error"><%= errors.physicalrequirements.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.covid19health ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="covid19health">COVID-19 health and safety provisions</label>
        <input class="form-control" id="covid19health" name="covid19health"><%= data.covid19health %></input>
        <% if (errors.covid19health) { %>
          <div class="error"><%= errors.covid19health.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.otherjobdetails ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="otherjobdetails">Other</label>
        <textarea class="form-control" id="otherjobdetails" name="otherjobdetails"
          rows="3"><%= data.otherjobdetails %></textarea>
        <% if (errors.otherjobdetails) { %>
        <div class="error"><%= errors.otherjobdetails.msg %></div>
        <% } %>
      </div>
      <h2>Template prepared by</h2>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.preparedbyname ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="preparedbyname">Name</label>
          <input type="text" class="form-control" id="preparedbyname" name="preparedbyname"><%= data.preparedbyname %></input>
          <% if (errors.preparedbyname) { %>
          <div class="error"><%= errors.preparedbyname.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.preparedbyemail ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="preparedbyemail">Email</label>
          <input type="text" class="form-control" id="preparedbyemail" name="preparedbyemail"><%= data.preparedbyemail %></input>
          <% if (errors.preparedbyemail) { %>
          <div class="error"><%= errors.preparedbyemail.msg %></div>
          <% } %>
        </div>
      </div>      
      <h2>WorkBC Referrals</h2>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral1name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral1name">Name</label>
          <input type="text" class="form-control" id="referral1name" name="referral1name"><%= data.referral1name %></input>
          <% if (errors.referral1name) { %>
          <div class="error"><%= errors.referral1name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral1email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral1email">Email</label>
          <input type="text" class="form-control" id="referral1email" name="referral1email"><%= data.referral1email %></input>
          <% if (errors.referral1email) { %>
          <div class="error"><%= errors.referral1email.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral2name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral2name">Name</label>
          <input type="text" class="form-control" id="referral2name" name="referral2name"><%= data.referral2name %></input>
          <% if (errors.referral2name) { %>
          <div class="error"><%= errors.referral2name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral2email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral2email">Email</label>
          <input type="text" class="form-control" id="referral2email" name="referral2email"><%= data.referral2email %></input>
          <% if (errors.referral2email) { %>
          <div class="error"><%= errors.referral2email.msg %></div>
          <% } %>
        </div>
      </div> 
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral3name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral3name">Name</label>
          <input type="text" class="form-control" id="referral3name" name="referral3name"><%= data.referral3name %></input>
          <% if (errors.referral3name) { %>
          <div class="error"><%= errors.referral3name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral3email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral3email">Email</label>
          <input type="text" class="form-control" id="referral3email" name="referral3email"><%= data.referral3email %></input>
          <% if (errors.referral3email) { %>
          <div class="error"><%= errors.referral3email.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox"  class="form-check-input <%= errors.consent ? 'is-invalid' : '' %>" id="consent" name="consent" value="<%= data.consent %>" required/>
          <label class="form-check-label control-label" for="consent">I acknowledge and understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that by doing so, I am providing the same consent as I would by manually signing a physical copy of this form.</label>
          <% if (errors.consent) { %>
            <div class="invalid-feedback"><%= errors.consent.msg %></div>
          <% } %>
        </div>
      </div>   
  </div>
  <!--
        <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
        <% if (errors.email) { %>
          <div class="error"><%= errors.email.msg %></div>
        <% } %>
      </div>-->
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  </form>
</div>
</div>