<div class="row">
  <div class="col-lg-12">
    <% if (Object.keys(errors).length === 0) { %>
    <h1 id="forms">Employer Form</h1>
    <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="/" novalidate>
      <!--
      <div class="form-group <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4"><%= data.message %></textarea>
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      </div>
      -->
      <div class="form-group <%= errors.employer ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="employer">Employer Name</label>
        <input type="text" class="form-control" id="employer" name="employer"><%= data.employer %></input>
        <% if (errors.employer) { %>
        <div class="error"><%= errors.employer.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="catchment">Location(s) (select all that apply)</label>
        <select multiple aria-describedby="catchment" aria-required="true" class="form-control" id="catchment" name="catchmentSelector" size="25">
          <option value="129">100 MILE HOUSE</option>
          <option value="127">ABBOTSFORD</option>
          <option value="128">AGASSIZ</option>
          <option value="123">ALDERGROVE</option>
          <option value="130">ASHCROFT</option>
          <option value="131">BARRIERE</option>
          <option value="129">BELLA COOLA</option>
          <option value="124">BURNABY</option>
          <option value="142">BURNS LAKE</option>
          <option value="101">CAMPBELL RIVER</option>
          <option value="135">CASTLEGAR</option>
          <option value="131">CHASE</option>
          <option value="145">CHETWYND</option>
          <option value="128">CHILLIWACK</option>
          <option value="131">CLEARWATER</option>
          <option value="117">COQUITLAM</option>
          <option value="102">COURTENAY</option>
          <option value="137">CRANBROOK</option>
          <option value="136">CRESTON</option>
          <option value="145">DAWSON CREEK</option>
          <option value="118">DELTA</option>
          <option value="105">DUNCAN</option>
          <option value="138">ENDERBY</option>
          <option value="137">FERNIE</option>
          <option value="144">FORT NELSON</option>
          <option value="142">FORT ST. JAMES</option>
          <option value="144">FORT ST. JOHN</option>
          <option value="108">GANGES</option>
          <option value="134">GOLDEN</option>
          <option value="135">GRAND FORKS</option>
          <option value="139">HAIDA GWAII</option>
          <option value="141">HAZELTON</option>
          <option value="128">HOPE</option>
          <option value="137">INVERMERE</option>
          <option value="131">KAMLOOPS</option>
          <option value="133">KELOWNA</option>
          <option value="140">KITIMAT</option>
          <option value="105">LADYSMITH</option>
          <option value="106">LANGFORD</option>
          <option value="123">LANGLEY</option>
          <option value="130">LILLOOET</option>
          <option value="143">MACKENZIE</option>
          <option value="116">MAPLE RIDGE</option>
          <option value="139">MASSET</option>
          <option value="130">MERRITT</option>
          <option value="126">MISSION</option>
          <option value="136">NAKUSP</option>
          <option value="104">NANAIMO</option>
          <option value="136">NELSON</option>
          <option value="125">NEW WESTMINSTER</option>
          <option value="110">NORTH VANCOUVER</option>
          <option value="132">OLIVER</option>
          <option value="103">PARKSVILLE</option>
          <option value="132">PENTICTON</option>
          <option value="103">PORT ALBERNI</option>
          <option value="117">PORT COQUITLAM</option>
          <option value="101">PORT HARDY</option>
          <option value="117">PORT MOODY</option>
          <option value="102">POWELL RIVER</option>
          <option value="143">PRINCE GEORGE</option>
          <option value="139">PRINCE RUPERT</option>
          <option value="132">PRINCETON</option>
          <option value="139">QUEEN CHARLOTTE</option>
          <option value="129">QUESNEL</option>
          <option value="134">REVELSTOKE</option>
          <option value="115">RICHMOND</option>
          <option value="133">RUTLAND</option>
          <option value="107">SAANICH</option>
          <option value="134">SALMON ARM</option>
          <option value="108">SALT SPRING ISLAND</option>
          <option value="109">SECHELT</option>
          <option value="134">SICAMOUS</option>
          <option value="108">SIDNEY</option>
          <option value="141">SMITHERS</option>
          <option value="106">SOOKE</option>
          <option value="122">SOUTH SURREY</option>
          <option value="109">SQUAMISH</option>
          <option value="132">SUMMERLAND</option>
          <option value="120">SURREY CLOVERDALE</option>
          <option value="119">SURREY FLEETWOOD/GUILDFORD</option>
          <option value="121">SURREY NEWTON</option>
          <option value="119">SURREY WHALLEY</option>
          <option value="140">TERRACE</option>
          <option value="103">TOFINO</option>
          <option value="135">TRAIL</option>
          <option value="103">UCLUELET</option>
          <option value="143">VALEMOUNT</option>
          <option value="111">VANCOUVER CITY CENTRE</option>
          <option value="111">VANCOUVER DOWNTOWN EASTSIDE</option>
          <option value="112">VANCOUVER MIDTOWN</option>
          <option value="113">VANCOUVER NORTHEAST</option>
          <option value="114">VANCOUVER SOUTH</option>
          <option value="112">VANCOUVER WESTSIDE</option>
          <option value="142">VANDERHOOF</option>
          <option value="138">VERNON</option>
          <option value="107">VICTORIA</option>
          <option value="133">WESTBANK</option>
          <option value="109">WHISTLER</option>
          <option value="122">WHITE ROCK</option>
          <option value="129">WILLIAMS LAKE</option>
        </select>
        <% if (errors.catchment) { %>
          <div class="invalid-feedback"><%= errors.catchment.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.jobtitle ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="jobtitle">Job Title</label>
          <input type="text" class="form-control" id="jobtitle" name="jobtitle"><%= data.jobtitle %></input>
          <% if (errors.jobtitle) { %>
          <div class="error"><%= errors.jobtitle.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.positions ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="positions"># of Positions</label>
          <input type="text" class="form-control" id="positions" name="positions"><%= data.positions %></input>
          <% if (errors.positions) { %>
          <div class="error"><%= errors.positions.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group <%= errors.hrcontactname ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="hrcontactname">HR Contact Name(s)</label>
        <input type="text" class="form-control" id="hrcontactname"
          name="hrcontactname"><%= data.hrcontactname %></input>
        <% if (errors.hrcontactname) { %>
        <div class="error"><%= errors.hrcontactname.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.contactemail ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="contactemail">Contact Email</label>
          <input type="text" class="form-control" id="contactemail" name="contactemail"><%= data.contactemail %></input>
          <% if (errors.contactemail) { %>
          <div class="error"><%= errors.contactemail.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.contactphone ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="contactphone">Contact Phone</label>
          <input type="text" class="form-control" id="contactphone" name="contactphone"><%= data.contactphone %></input>
          <% if (errors.contactphone) { %>
          <div class="error"><%= errors.contactphone.msg %></div>
          <% } %>
        </div>
      </div>
      <h2>Job Description</h2>
      <div class="form-group <%= errors.rolesandresponsibilities ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="rolesandresponsibilities">Role and Responsibilities</label>
        <textarea class="form-control" id="rolesandresponsibilities" name="rolesandresponsibilities"
          rows="6"><%= data.rolesandresponsibilities %></textarea>
        <% if (errors.rolesandresponsibilities) { %>
        <div class="error"><%= errors.rolesandresponsibilities.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.qualifications ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="qualifications">Qualifications and Education
          Requirements</label>
        <textarea class="form-control" id="qualifications" name="qualifications"
          rows="6"><%= data.qualifications %></textarea>
        <% if (errors.qualifications) { %>
        <div class="error"><%= errors.qualifications.msg %></div>
        <% } %>
      </div>
      <h3>Job Details</h3>
      <div class="form-row">
        <div class="form-group col-md-4 <%= errors.hoursofwork ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="hoursofwork">Hours of Work</label>
          <input type="text" class="form-control" id="hoursofwork" name="hoursofwork"><%= data.hoursofwork %></input>
          <% if (errors.hoursofwork) { %>
          <div class="error"><%= errors.hoursofwork.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4 <%= errors.hourlypay ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="hourlypay">Hourly rate of pay</label>
          <input type="text" class="form-control" id="hourlypay" name="hourlypay"><%= data.hourlypay %></input>
          <% if (errors.hourlypay) { %>
          <div class="error"><%= errors.hourlypay.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4 <%= errors.positiontype ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="positiontype">Position type</label>
          <input type="text" class="form-control" id="positiontype" name="positiontype"><%= data.positiontype %></input>
          <% if (errors.positiontype) { %>
          <div class="error"><%= errors.positiontype.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group <%= errors.physicalrequirements ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="physicalrequirements">Physical requirements</label>
        <input class="form-control" id="physicalrequirements" name="physicalrequirements"><%= data.physicalrequirements %></input>
        <% if (errors.physicalrequirements) { %>
          <div class="error"><%= errors.physicalrequirements.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.covid19health ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="covid19health">COVID-19 health and safety provisions</label>
        <input class="form-control" id="covid19health" name="covid19health"><%= data.covid19health %></input>
        <% if (errors.covid19health) { %>
          <div class="error"><%= errors.covid19health.msg %></div>
        <% } %>
      </div>
      <div class="form-group <%= errors.otherjobdetails ? 'is-invalid' : '' %>">
        <label class="col-form-label control-label" for="otherjobdetails">Other</label>
        <textarea class="form-control" id="otherjobdetails" name="otherjobdetails"
          rows="3"><%= data.otherjobdetails %></textarea>
        <% if (errors.otherjobdetails) { %>
        <div class="error"><%= errors.otherjobdetails.msg %></div>
        <% } %>
      </div>
      <h2>Template prepared by</h2>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.preparedbyname ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="preparedbyname">Name</label>
          <input type="text" class="form-control" id="preparedbyname" name="preparedbyname"><%= data.preparedbyname %></input>
          <% if (errors.preparedbyname) { %>
          <div class="error"><%= errors.preparedbyname.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.preparedbyemail ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="preparedbyemail">Email</label>
          <input type="text" class="form-control" id="preparedbyemail" name="preparedbyemail"><%= data.preparedbyemail %></input>
          <% if (errors.preparedbyemail) { %>
          <div class="error"><%= errors.preparedbyemail.msg %></div>
          <% } %>
        </div>
      </div>      
      <h2>WorkBC Referrals</h2>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral1name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral1name">Name</label>
          <input type="text" class="form-control" id="referral1name" name="referral1name"><%= data.referral1name %></input>
          <% if (errors.referral1name) { %>
          <div class="error"><%= errors.referral1name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral1email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral1email">Email</label>
          <input type="text" class="form-control" id="referral1email" name="referral1email"><%= data.referral1email %></input>
          <% if (errors.referral1email) { %>
          <div class="error"><%= errors.referral1email.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral2name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral2name">Name</label>
          <input type="text" class="form-control" id="referral2name" name="referral2name"><%= data.referral2name %></input>
          <% if (errors.referral2name) { %>
          <div class="error"><%= errors.referral2name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral2email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral2email">Email</label>
          <input type="text" class="form-control" id="referral2email" name="referral2email"><%= data.referral2email %></input>
          <% if (errors.referral2email) { %>
          <div class="error"><%= errors.referral2email.msg %></div>
          <% } %>
        </div>
      </div> 
      <div class="form-row">
        <div class="form-group col-md-6 <%= errors.referral3name ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral3name">Name</label>
          <input type="text" class="form-control" id="referral3name" name="referral3name"><%= data.referral3name %></input>
          <% if (errors.referral3name) { %>
          <div class="error"><%= errors.referral3name.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-6 <%= errors.referral3email ? 'is-invalid' : '' %>">
          <label class="col-form-label control-label" for="referral3email">Email</label>
          <input type="text" class="form-control" id="referral3email" name="referral3email"><%= data.referral3email %></input>
          <% if (errors.referral3email) { %>
          <div class="error"><%= errors.referral3email.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox"  class="form-check-input <%= errors.consent ? 'is-invalid' : '' %>" id="consent" name="consent" value="<%= data.consent %>" required/>
          <label class="form-check-label control-label" for="consent">I acknowledge and understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that by doing so, I am providing the same consent as I would by manually signing a physical copy of this form.</label>
          <% if (errors.consent) { %>
            <div class="invalid-feedback"><%= errors.consent.msg %></div>
          <% } %>
        </div>
      </div>   
  </div>
  <!--
        <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
        <% if (errors.email) { %>
          <div class="error"><%= errors.email.msg %></div>
        <% } %>
      </div>-->
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  </form>
</div>
</div>