<div class="row">
    <div class="col-lg-12">
      <% if (Object.keys(errors).length === 0) { %>
        <h1 id="forms">Job Seeker Form</h1>
      <% } else { %>
        <h2 class="errors-heading">Oops, please correct the following:</h2>
        <ul class="errors-list">
          <% Object.values(errors).forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </div>
    
  <div class="row">
      <div class="col-md-12">
    <form method="post" action="/jobseeker">
      
      <!--
      <div class="form-group <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4"><%= data.message %></textarea>
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      </div>
      -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-row">
          <div class="form-group col-md-4">
              <label class="col-form-label control-label" for="firstname">First Name</label>
              <input type="text" class="form-control <%= errors.firstname ? 'is-invalid' : '' %>" id="firstname" name="firstname" value="<%= data.firstname %>" />
              <% if (errors.firstname) { %>
                <div class="invalid-feedback">Please enter your name.</div>
              <% } %>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label control-label" for="middlename">Middle Name</label>
            <input type="text" class="form-control <%= errors.middlename ? 'is-invalid' : '' %>" id="middlename" name="middlename" value="<%= data.middlename %>"/>
            <% if (errors.middlename) { %>
              <div class="invalid-feedback"><%= errors.middlename.msg %></div>
            <% } %>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="lastname">Last Name</label>
          <input type="text" class="form-control <%= errors.lastname ? 'is-invalid' : '' %>" id="lastname" name="lastname" value="<%= data.lastname %>"/>
          <% if (errors.lastname) { %>
            <div class="invalid-feedback"><%= errors.lastname.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="phone">Phone</label>
        <input type="text" class="form-control <%= errors.phone ? 'is-invalid' : '' %>" id="phone" name="phone" maxlength="12" placeholder="555-555-555 or 5551235555" value="<%= data.phone _%>"/>
        </input>
        <% if (errors.phone) { %>
          <div class="invalid-feedback"><%= errors.phone.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="email">Email</label>
        <input type="text" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email" name="email" value="<%= data.email %>"/>
        <% if (errors.email) { %>
          <div class="invalid-feedback"><%= errors.email.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="address">Address</label>
        <input type="text" class="form-control <%= errors.address ? 'is-invalid' : '' %>" id="address" name="address" placeholder="555 Main St" value="<%= data.address %>"/>
        <% if (errors.address) { %>
          <div class="invalid-feedback"><%= errors.address.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="address2">Address 2</label>
        <input type="text" class="form-control <%= errors.address2 ? 'is-invalid' : '' %>" id="address2" name="address2" placeholder="Apartment, studio, or floor" value="<%= data.address2 %>" />
        <% if (errors.address2) { %>
          <div class="invalid-feedback"><%= errors.address2.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="col-form-label control-label" for="city">City</label>
          <input type="text" class="form-control <%= errors.city ? 'is-invalid' : '' %>" id="city" name="city" value="<%= data.city %>"/>
          <% if (errors.city) { %>
            <div class="invalid-feedback"><%= errors.city.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="postal">Postal Code</label>
          <input type="text" class="form-control <%= errors.postal ? 'is-invalid' : '' %>" id="postal" name="postal" maxlength="7" value="<%= data.postal %>"/>
          <% if (errors.postal) { %>
            <div class="invalid-feedback"><%= errors.postal.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="catchment">Region(s) available to work (select all that apply)</label>
        <select multiple aria-describedby="catchment" aria-required="true" class="form-control <%= errors.catchment ? 'is-invalid' : '' %>" id="catchment" name="catchment" size="25">
          <option value="100MILEHOUSE">100 MILE HOUSE</option>
          <option value="ABBOTSFORD">ABBOTSFORD</option>
          <option value="AGASSIZ">AGASSIZ</option>
          <option value="ALDERGROVE">ALDERGROVE</option>
          <option value="ASHCROFT">ASHCROFT</option>
          <option value="BARRIERE">BARRIERE</option>
          <option value="BELLACOOLA">BELLA COOLA</option>
          <option value="BURNABY">BURNABY</option>
          <option value="BURNSLAKE">BURNS LAKE</option>
          <option value="CAMPBELLRIVER">CAMPBELL RIVER</option>
          <option value="CASTLEGAR">CASTLEGAR</option>
          <option value="CHASE">CHASE</option>
          <option value="CHETWYND">CHETWYND</option>
          <option value="CHILLIWACK">CHILLIWACK</option>
          <option value="CLEARWATER">CLEARWATER</option>
          <option value="COQUITLAM">COQUITLAM</option>
          <option value="COURTENAY">COURTENAY</option>
          <option value="CRANBROOK">CRANBROOK</option>
          <option value="CRESTON">CRESTON</option>
          <option value="DAWSONCREEK">DAWSON CREEK</option>
          <option value="DELTA">DELTA</option>
          <option value="DUNCAN">DUNCAN</option>
          <option value="ENDERBY">ENDERBY</option>
          <option value="FERNIE">FERNIE</option>
          <option value="FORTNELSON">FORT NELSON</option>
          <option value="FORTSTJAMES">FORT ST. JAMES</option>
          <option value="FORTSTJOHN">FORT ST. JOHN</option>
          <option value="GANGES">GANGES</option>
          <option value="GOLDEN">GOLDEN</option>
          <option value="GRANDFORKS">GRAND FORKS</option>
          <option value="HAIDAGWAII">HAIDA GWAII</option>
          <option value="HAZELTON">HAZELTON</option>
          <option value="HOPE">HOPE</option>
          <option value="INVERMERE">INVERMERE</option>
          <option value="KAMLOOPS">KAMLOOPS</option>
          <option value="KELOWNA">KELOWNA</option>
          <option value="KITIMAT">KITIMAT</option>
          <option value="LADYSMITH">LADYSMITH</option>
          <option value="LANGFORD">LANGFORD</option>
          <option value="LANGLEY">LANGLEY</option>
          <option value="LILLOOET">LILLOOET</option>
          <option value="MACKENZIE">MACKENZIE</option>
          <option value="MAPLERIDGE">MAPLE RIDGE</option>
          <option value="MASSET">MASSET</option>
          <option value="MERRITT">MERRITT</option>
          <option value="MISSION">MISSION</option>
          <option value="NAKUSP">NAKUSP</option>
          <option value="NANAIMO">NANAIMO</option>
          <option value="NELSON">NELSON</option>
          <option value="NEWWESTMINSTER">NEW WESTMINSTER</option>
          <option value="NORTHVANCOUVER">NORTH VANCOUVER</option>
          <option value="OLIVER">OLIVER</option>
          <option value="PARKSVILLE">PARKSVILLE</option>
          <option value="PENTICTON">PENTICTON</option>
          <option value="PORTALBERNI">PORT ALBERNI</option>
          <option value="PORTCOQUITLAM">PORT COQUITLAM</option>
          <option value="PORTHARDY">PORT HARDY</option>
          <option value="PORTMOODY">PORT MOODY</option>
          <option value="POWELLRIVER">POWELL RIVER</option>
          <option value="PRINCEGEORGE">PRINCE GEORGE</option>
          <option value="PRINCERUPERT">PRINCE RUPERT</option>
          <option value="PRINCETON">PRINCETON</option>
          <option value="QUEENCHARLOTTE">QUEEN CHARLOTTE</option>
          <option value="QUESNEL">QUESNEL</option>
          <option value="REVELSTOKE">REVELSTOKE</option>
          <option value="RICHMOND">RICHMOND</option>
          <option value="RUTLAND">RUTLAND</option>
          <option value="SAANICH">SAANICH</option>
          <option value="SALMONARM">SALMON ARM</option>
          <option value="SALTSPRINGISLAND">SALT SPRING ISLAND</option>
          <option value="SECHELT">SECHELT</option>
          <option value="SICAMOUS">SICAMOUS</option>
          <option value="SIDNEY">SIDNEY</option>
          <option value="SMITHERS">SMITHERS</option>
          <option value="SOOKE">SOOKE</option>
          <option value="SOUTHSURREY">SOUTH SURREY</option>
          <option value="SQUAMISH">SQUAMISH</option>
          <option value="SUMMERLAND">SUMMERLAND</option>
          <option value="SURREYCLOVERDALE">SURREY CLOVERDALE</option>
          <option value="SURREYFLEETWOODGUILDFORD">SURREY FLEETWOOD/GUILDFORD</option>
          <option value="SURREYNEWTON">SURREY NEWTON</option>
          <option value="SURREYWHALLEY">SURREY WHALLEY</option>
          <option value="TERRACE">TERRACE</option>
          <option value="TOFINO">TOFINO</option>
          <option value="TRAIL">TRAIL</option>
          <option value="UCLUELET">UCLUELET</option>
          <option value="VALEMOUNT">VALEMOUNT</option>
          <option value="VANCOUVERCITYCENTRE">VANCOUVER CITY CENTRE</option>
          <option value="VANCOUVERDOWNTOWNEASTSIDE">VANCOUVER DOWNTOWN EASTSIDE</option>
          <option value="VANCOUVERMIDTOWN">VANCOUVER MIDTOWN</option>
          <option value="VANCOUVERNORTHEAST">VANCOUVER NORTHEAST</option>
          <option value="VANCOUVERSOUTH">VANCOUVER SOUTH</option>
          <option value="VANCOUVERWESTSIDE">VANCOUVER WESTSIDE</option>
          <option value="VANDERHOOF">VANDERHOOF</option>
          <option value="VERNON">VERNON</option>
          <option value="VICTORIA">VICTORIA</option>
          <option value="WESTBANK">WESTBANK</option>
          <option value="WHISTLER">WHISTLER</option>
          <option value="WHITEROCK">WHITE ROCK</option>
          <option value="WILLIAMSLAKE">WILLIAMS LAKE</option>
        </select>
        <% if (errors.catchment) { %>
          <div class="invalid-feedback"><%= errors.catchment.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox"  class="form-check-input <%= errors.consent ? 'is-invalid' : '' %>" id="consent" name="consent" value="consent"/>
          <label class="form-check-label control-label" for="consent">I acknowledge and understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that by doing so, I am providing the same consent as I would by manually signing a physical copy of this form.</label>
          <% if (errors.consent) { %>
            <div class="invalid-feedback"><%= errors.consent.msg %></div>
          <% } %>
        </div>
      </div>
      <!--
        <div class="form-field <%= errors.email ? 'is-invalid' : '' %>">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
        <% if (errors.email) { %>
          <div class="invalid-feedback"><%= errors.email.msg %></div>
        <% } %>
      </div>-->
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
    </form>
  </div>
    