<div class="row">
  <div class="col-lg-12">
    <h1 id="forms">Job Seeker Form</h1>
    <p><span style="color:red">*</span> Denotes a required field.</p>
    <% if (Object.keys(errors).length === 0) { %>

    <% } else { %>
    <h3 class="errors-heading">Oops, please correct the following:</h3>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="/jobseeker">

      <!--
      <div class="form-group <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4"><%= data.message %></textarea>
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      </div>
      -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-row">
        <!--
          <div class="form-group col-md-3">
              <label class="col-form-label control-label" for="salutation">Salutation <span style="color:red">*</span></label>
              <select aria-describedby="salutation" aria-required="true" class="form-control <%= errors.salutation ? 'is-invalid' : '' %>" id="salutation" name="salutation">
                <option value="0">Select</option>
                <option value="Mr" <%= data.salutation=="Mr" ? 'selected' : '' %>>Mr.</option>
                <option value="Mrs" <%= data.salutation=="Mrs" ? 'selected' : '' %>>Mrs.</option>
                <option value="Ms" <%= data.salutation=="Ms" ? 'selected' : '' %>>Ms.</option>
                <option value="Dr" <%= data.salutation=="Dr" ? 'selected' : '' %>>Dr.</option>
                <option value="Prof" <%= data.salutation=="Prof" ? 'selected' : '' %>>Prof.</option>
              </select>
              <% if (errors.salutation) { %>
                <div class="invalid-feedback"><%= errors.salutation.msg %></div>
              <% } %>
          </div>
        -->
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="firstname">First Name <span
              style="color:red">*</span></label>
          <input type="text" class="form-control <%= errors.firstname ? 'is-invalid' : '' %>" id="firstname"
            name="firstname" value="<%= data.firstname %>" />
          <% if (errors.firstname) { %>
          <div class="invalid-feedback">Please enter your name.</div>
          <% } %>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="middlename">Middle Name</label>
          <input type="text" class="form-control <%= errors.middlename ? 'is-invalid' : '' %>" id="middlename"
            name="middlename" value="<%= data.middlename %>" />
          <% if (errors.middlename) { %>
          <div class="invalid-feedback"><%= errors.middlename.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="lastname">Last Name <span style="color:red">*</span></label>
          <input type="text" class="form-control <%= errors.lastname ? 'is-invalid' : '' %>" id="lastname"
            name="lastname" value="<%= data.lastname %>" />
          <% if (errors.lastname) { %>
          <div class="invalid-feedback"><%= errors.lastname.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="phone">Phone <span style="color:red">*</span></label>
        <input type="text" class="form-control <%= errors.phone ? 'is-invalid' : '' %>" id="phone" name="phone"
          maxlength="12" placeholder="555-555-555 or 5551235555" value="<%= data.phone _%>" />
        </input>
        <% if (errors.phone) { %>
        <div class="invalid-feedback"><%= errors.phone.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="email">Email <span style="color:red">*</span></label>
        <input type="text" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email" name="email"
          placeholder="someone@example.com" value="<%= data.email %>" />
        <% if (errors.email) { %>
        <div class="invalid-feedback"><%= errors.email.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="address">Address</label>
        <input type="text" class="form-control <%= errors.address ? 'is-invalid' : '' %>" id="address" name="address"
          placeholder="555 Main St" value="<%= data.address %>" />
        <% if (errors.address) { %>
        <div class="invalid-feedback"><%= errors.address.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="address2">Address 2</label>
        <input type="text" class="form-control <%= errors.address2 ? 'is-invalid' : '' %>" id="address2" name="address2"
          placeholder="Apartment, studio, or floor" value="<%= data.address2 %>" />
        <% if (errors.address2) { %>
        <div class="invalid-feedback"><%= errors.address2.msg %></div>
        <% } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="col-form-label control-label" for="city">City <span style="color:red">*</span></label>
          <input type="text" class="form-control <%= errors.city ? 'is-invalid' : '' %>" id="city" name="city"
            value="<%= data.city %>" />
          <% if (errors.city) { %>
          <div class="invalid-feedback"><%= errors.city.msg %></div>
          <% } %>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label control-label" for="postal">Postal Code <span style="color:red">*</span></label>
          <input type="text" class="form-control <%= errors.postal ? 'is-invalid' : '' %>" id="postal" name="postal"
            maxlength="7" value="<%= data.postal %>" />
          <% if (errors.postal) { %>
          <div class="invalid-feedback"><%= errors.postal.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="legalworkingage">Are you of legal working age? <span
              style="color:red">*</span></label>
          <select aria-describedby="legalworkingage" aria-required="true"
            class="form-control <%= errors.legalworkingage ? 'is-invalid' : '' %>" id="legalworkingage"
            name="legalworkingage">
            <option value="0"></option>
            <option value="Yes" <%= data.legalworkingage=="Yes" ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= data.legalworkingage=="No" ? 'selected' : '' %>>No</option>
          </select>
          <% if (errors.legalworkingage) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="eligibletowork">Are you eligible to work in Canada? <span
              style="color:red">*</span></label>
          <select aria-describedby="eligibletowork" aria-required="true"
            class="form-control <%= errors.eligibletowork ? 'is-invalid' : '' %>" id="eligibletowork"
            name="eligibletowork">
            <option value="0"></option>
            <option value="Yes" <%= data.eligibletowork=="Yes" ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= data.eligibletowork=="No" ? 'selected' : '' %>>No</option>
          </select>
          <% if (errors.eligibletowork) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>
      </div>
      <div class="form-row align-items-end">
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="volunteer">Are you willing to volunteer?<span
              style="color:red">*</span></label>
          <select aria-describedby="volunteer" aria-required="true"
            class="form-control <%= errors.volunteer ? 'is-invalid' : '' %>" id="volunteer" name="volunteer">
            <option value="0"></option>
            <option value="Yes" <%= data.volunteer=="Yes" ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= data.volunteer=="No" ? 'selected' : '' %>>No</option>
          </select>
          <% if (errors.volunteer) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="neighbouringcommunities">Are you willing to work in
            neighbouring communities?</label>
          <select aria-describedby="neighbouringcommunities" aria-required="true"
            class="form-control <%= errors.neighbouringcommunities ? 'is-invalid' : '' %>" id="neighbouringcommunities"
            name="neighbouringcommunities">
            <option value="0"></option>
            <option value="Yes" <%= data.neighbouringcommunities=="Yes" ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= data.neighbouringcommunities=="No" ? 'selected' : '' %>>No</option>
          </select>
          <% if (errors.neighbouringcommunities) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>


      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="certificates">Skills / Certifications</label>
        <small class="text-muted">Please hold CTRL when selecting multiple options.</small>
        <select multiple aria-describedby="certificates" aria-required="true"
          class="form-control <%= errors.certificates ? 'is-invalid' : '' %>" id="certificates" name="certificates">
          <option value="WHMIS" <%= checkCertificates('WHMIS') ? 'selected' : '' %>>Workplace Hazardous Materials
            Information System (WHMIS)</option>
          <option value="Emergency First Aid" <%= checkCertificates('Emergency First Aid') ? 'selected' : '' %>>
            Emergency First Aid</option>
          <option value="Standard First Aid" <%= checkCertificates('Standard First Aid') ? 'selected' : '' %>>Standard
            First Aid</option>
          <option value="Super Host" <%= checkCertificates('Super Host') ? 'selected' : '' %>>Super Host</option>
          <option value="Serving It Right" <%= checkCertificates('Serving It Right') ? 'selected' : '' %>>Serving It
            Right</option>
          <option value="Food Safe" <%= checkCertificates('Food Safe') ? 'selected' : '' %>>Food Safe</option>
          <option value="Basic Computer Certification"
            <%= checkCertificates('Basic Computer Certification') ? 'selected' : '' %>>Basic Computer Certification
          </option>
          <option value="Forklift Lift Truck Operator"
            <%= checkCertificates('Forklift Lift Truck Operator') ? 'selected' : '' %>>Forklift/Lift Truck Operator
          </option>
          <option value="Infections Control and Prevention"
            <%= checkCertificates('Infections Control and Prevention') ? 'selected' : '' %>>Infections Control and
            Prevention</option>
          <option value="Mental Health First Aid" <%= checkCertificates('Mental Health First Aid') ? 'selected' : '' %>>
            Mental Health First Aid</option>
          <option value="Transportation of Dangerous Goods"
            <%= checkCertificates('Transportation of Dangerous Goods') ? 'selected' : '' %>>Transportation of Dangerous
            Goods</option>
          <option value="Licensed to drive a truck or other large vehicles"
            <%= checkCertificates('Licensed to drive a truck or other large vehicles') ? 'selected' : '' %>>Licensed to
            drive a truck or other large vehicle</option>
        </select>
        <% if (errors.certificates) { %>
        <div class="invalid-feedback">Please select at least one certificate.</div>
        <% } %>
      </div>
      <!--
      <div class="form-group">
        <label class="col-form-label control-label" for="highschool">Have you completed high school (Dogwood or Evergreen certificate)?</label>
        <select aria-describedby="highschool" aria-required="true" class="form-control <%= errors.highschool ? 'is-invalid' : '' %>" id="highschool" name="highschool">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.highschool) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="postsecondary">Have you participated in any post-secondary training (completed or incomplete)?</label>
        <select aria-describedby="postsecondary" aria-required="true" class="form-control <%= errors.postsecondary ? 'is-invalid' : '' %>" id="postsecondary" name="postsecondary">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.postsecondary) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="postsecondary">Number of post-secondary years completed.</label>
        <select aria-describedby="postsecondary" aria-required="true" class="form-control <%= errors.postsecondary ? 'is-invalid' : '' %>" id="postsecondary" name="postsecondary">
          <option value="0"></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6+</option>
        </select>
        <% if (errors.postsecondary) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="areaofstudy">What area of study at post-secondary education have you participated in?</label>
        <input type="text" class="form-control <%= errors.areaofstudy ? 'is-invalid' : '' %>" id="areaofstudy" name="areaofstudy" value="<%= data.areaofstudy %>"/>
        <% if (errors.areaofstudy) { %>
          <div class="invalid-feedback"><%= errors.areaofstudy.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="apprenticeshipcertification">Do you have apprenticeship certification?</label>
        <select aria-describedby="apprenticeshipcertification" aria-required="true" class="form-control <%= errors.apprenticeshipcertification ? 'is-invalid' : '' %>" id="apprenticeshipcertification" name="apprenticeshipcertification">
          <option value="0"></option>
          <option value="Foundation Trades Training">Foundation Trades Training</option>
          <option value="Level 1 - 4">Level 1 - 4</option>
          <option value="Red Seal">Red Seal</option>
          <option value="Journey person status">Journey person status</option>
          <option value="Most recent year of training/level completed">Most recent year of training/level completed</option>
        </select>
        <% if (errors.apprenticeshipcertification) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="equipement">What equipement you are able to bring to a job?</label>
        <select multiselect aria-describedby="equipement" aria-required="true" class="form-control <%= errors.equipement ? 'is-invalid' : '' %>" id="equipement" name="equipement">
          <option value="0"></option>
          <option value="Hard Hat">Hard Hat</option>
          <option value="Steel Toe Boots">Steel Toe Boots</option>
          <option value="Safety Vest">Safety Vest</option>
          <option value="Culinary Tools">Culinary Tools</option>
          <option value="Other">Other</option>
        </select>
        <% if (errors.equipement) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      -->
      <div class="form-group">
        <label class="col-form-label control-label" for="upto40pounds">Are you able to lift up to 40 pounds?</label>
        <select aria-describedby="upto40pounds" aria-required="true"
          class="form-control <%= errors.upto40pounds ? 'is-invalid' : '' %>" id="upto40pounds" name="upto40pounds">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.upto40pounds) { %>
        <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="morethan40pounds">Are you able to lift more than 40lbs?</label>
        <select aria-describedby="morethan40pounds" aria-required="true"
          class="form-control <%= errors.morethan40pounds ? 'is-invalid' : '' %>" id="morethan40pounds" name="morethan40pounds">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.morethan40pounds) { %>
        <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <!--
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="driverslicense">Do you have a driver’s license?</label>
          <select aria-describedby="driverslicense" aria-required="true"
            class="form-control <%= errors.driverslicense ? 'is-invalid' : '' %>" id="driverslicense"
            name="driverslicense">
            <option value="0"></option>
            <option value="Yes" <%= data.driverslicense=="Yes" ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= data.driverslicense=="No" ? 'selected' : '' %>>No</option>
          </select>
          <% if (errors.driverslicense) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label control-label" for="driverslicensekind">What kind of driver's license?</label>
          <select disabled aria-describedby="driverslicensekind" aria-required="true"
            class="form-control <%= errors.driverslicensekind ? 'is-invalid' : '' %>" id="driverslicensekind"
            name="driverslicensekind">
            <option value="0"></option>
            <option value="1" <%= data.driverslicense=="1" ? 'selected' : '' %>>Class 1</option>
            <option value="2" <%= data.driverslicense=="2" ? 'selected' : '' %>>Class 2</option>
            <option value="3" <%= data.driverslicense=="3" ? 'selected' : '' %>>Class 3</option>
            <option value="4" <%= data.driverslicense=="4" ? 'selected' : '' %>>Class 4</option>
            <option value="5" <%= data.driverslicense=="5" ? 'selected' : '' %>>Class 5</option>
            <option value="6" <%= data.driverslicense=="6" ? 'selected' : '' %>>Class 6</option>
            <option value="7" <%= data.driverslicense=="7" ? 'selected' : '' %>>Class 7</option>
          </select>
          <% if (errors.driverslicensekind) { %>
          <div class="invalid-feedback">Please answer.</div>
          <% } %>
        </div>
      </div>
      -->
      <div class="form-group">
        <label class="col-form-label control-label" for="owncar">Do you have your own car or have to access to a vehicle
          that could be used for performing job duties?</label>
        <select aria-describedby="owncar" aria-required="true"
          class="form-control <%= errors.owncar ? 'is-invalid' : '' %>" id="owncar" name="owncar">
          <option value="0"></option>
          <option value="Yes" <%= data.owncar=="Yes" ? 'selected' : '' %>>Yes</option>
          <option value="No" <%= data.owncar=="No" ? 'selected' : '' %>>No</option>
        </select>
        <% if (errors.owncar) { %>
        <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <!--
      <div class="form-group">
        <label class="col-form-label control-label" for="transportationaccess">Do you have access to transportation to the worksite (car, public transportation, bicycle, taxi, etc.)</label>
        <select aria-describedby="transportationaccess" aria-required="true" class="form-control <%= errors.transportationaccess ? 'is-invalid' : '' %>" id="transportationaccess" name="transportationaccess">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.transportationaccess) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="travelforwork">Are you willing to travel for work?</label>
        <select aria-describedby="travelforwork" aria-required="true" class="form-control <%= errors.travelforwork ? 'is-invalid' : '' %>" id="travelforwork" name="travelforwork">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.travelforwork) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      -->
      <div class="form-group">
        <label class="col-form-label control-label" for="worknights">Are you willing to work nights?</label>
        <select aria-describedby="worknights" aria-required="true"
          class="form-control <%= errors.worknights ? 'is-invalid' : '' %>" id="worknights" name="worknights">
          <option value="0"></option>
          <option value="Yes" <%= data.worknights=="Yes" ? 'selected' : '' %>>Yes</option>
          <option value="No" <%= data.worknights=="No" ? 'selected' : '' %>>No</option>
        </select>
        <% if (errors.worknights) { %>
        <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <!--
      <div class="form-group">
        <label class="col-form-label control-label" for="splitshifts">Are you willing to work split shifts?</label>
        <select aria-describedby="splitshifts" aria-required="true" class="form-control <%= errors.splitshifts ? 'is-invalid' : '' %>" id="splitshifts" name="splitshifts">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.splitshifts) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      
      <div class="form-group">
        <label class="col-form-label control-label" for="startimmediatly">Available to start work immediatly?</label>
        <select aria-describedby="startimmediatly" aria-required="true" class="form-control <%= errors.startimmediatly ? 'is-invalid' : '' %>" id="startimmediatly" name="startimmediatly">
          <option value="0"></option>
          <option value="Yes" <%= data.startimmediatly=="Yes" ? 'selected' : '' %>>Yes</option>
          <option value="No" <%= data.startimmediatly=="No" ? 'selected' : '' %>>No</option>
        </select>
        </input>
        <% if (errors.startimmediatly) { %>
          <div class="invalid-feedback"><%= errors.startimmediatly.msg %></div>
        <% } %>
      </div>
      -->
      <!--
      <h4>What days of the week can you work?</h4>
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.workmonday ? 'is-invalid' : '' %>" type="checkbox" id="workmonday" value="workmonday">
        <label class="form-check-label control-label" for="workmonday">Monday</label>
        <% if (errors.workmonday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.worktuesday ? 'is-invalid' : '' %>" type="checkbox" id="worktuesday" value="worktuesday">
        <label class="form-check-label control-label" for="worktuesday">Tuesday</label>
        <% if (errors.worktuesday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.workwednesday ? 'is-invalid' : '' %>" type="checkbox" id="workwednesday" value="workwednesday">
        <label class="form-check-label control-label" for="workwednesday">Wednesday</label>
        <% if (errors.workwednesday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.workthursday ? 'is-invalid' : '' %>" type="checkbox" id="workthursday" value="workthursday">
        <label class="form-check-label control-label" for="workthursday">Thursday</label>
        <% if (errors.workthursday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div> 
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.workfriday ? 'is-invalid' : '' %>" type="checkbox" id="workfriday" value="workfriday">
        <label class="form-check-label control-label" for="workfriday">Friday</label>
        <% if (errors.workfriday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div> 
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.worksaturday ? 'is-invalid' : '' %>" type="checkbox" id="worksaturday" value="worksaturday">
        <label class="form-check-label control-label" for="worksaturday">Saturday</label>
        <% if (errors.worksaturday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-check form-check-inline">       
        <input class="form-check-input <%= errors.worksunday ? 'is-invalid' : '' %>" type="checkbox" id="worksunday" value="worksunday">
        <label class="form-check-label control-label" for="worksunday">Sunday</label>
        <% if (errors.worksunday) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="hoursperweek">How many hours per week can you work?</label>
        <select aria-describedby="hoursperweek" aria-required="true" class="form-control <%= errors.hoursperweek ? 'is-invalid' : '' %>" id="hoursperweek" name="hoursperweek">
          <option value="0"></option>
          <option value="0-10">0-10</option>
          <option value="10-20">10-20</option>
          <option value="20-30">20-30</option>
          <option value="30-40">30-40</option>
        </select>
        <% if (errors.hoursperweek) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="expectedsalary">Expected salary</label>
        <input type="text" class="form-control <%= errors.expectedsalary ? 'is-invalid' : '' %>" id="expectedsalary" name="expectedsalary" maxlength="12" value="<%= data.expectedsalary _%>"/>
        </input>
        <% if (errors.expectedsalary) { %>
          <div class="invalid-feedback"><%= errors.expectedsalary.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="virtualwork">Are you willing to work virtually?</label>
        <select aria-describedby="virtualwork" aria-required="true" class="form-control <%= errors.virtualwork ? 'is-invalid' : '' %>" id="virtualwork" name="virtualwork">
          <option value="0"></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <% if (errors.virtualwork) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="previousjob">What was your previous job?</label>
        <input type="text" class="form-control <%= errors.previousjob ? 'is-invalid' : '' %>" id="previousjob" name="previousjob" maxlength="12" value="<%= data.previousjob _%>"/>
        </input>
        <% if (errors.previousjob) { %>
          <div class="invalid-feedback"><%= errors.previousjob.msg %></div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="timepreviousjob">How long were you working in your previous position?</label>
        <select aria-describedby="timepreviousjob" aria-required="true" class="form-control <%= errors.timepreviousjob ? 'is-invalid' : '' %>" id="timepreviousjob" name="timepreviousjob">
          <option value="0"></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6+</option>
        </select>
        <% if (errors.timepreviousjob) { %>
          <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      
      <div class="form-group">
        <label class="col-form-label control-label" for="experienceindustries">What industries do you have experience
          working in?</label>
        <input type="text" class="form-control <%= errors.experienceindustries ? 'is-invalid' : '' %>"
          id="experienceindustries" name="experienceindustries" maxlength="12"
          value="<%= data.experienceindustries _%>" />
        <% if (errors.experienceindustries) { %>
        <div class="invalid-feedback">Please select at least one certificate.</div>
        <% } %>
      </div>
      <div class="form-group">
        <label class="col-form-label control-label" for="workinunrelatedindustry">Are you ready, willing, and able to
          work in an industry in which you don’t have experience?</label>
        <select aria-describedby="workinunrelatedindustry" aria-required="true"
          class="form-control <%= errors.workinunrelatedindustry ? 'is-invalid' : '' %>" id="workinunrelatedindustry"
          name="workinunrelatedindustry">
          <option value="0"></option>
          <option value="Yes" <%= data.workinunrelatedindustry=="Yes" ? 'selected' : '' %>>Yes</option>
          <option value="No" <%= data.workinunrelatedindustry=="No" ? 'selected' : '' %>>No</option>
        </select>
        <% if (errors.workinunrelatedindustry) { %>
        <div class="invalid-feedback">Please answer.</div>
        <% } %>
      </div>
      -->
      <!--
      <div class="form-group">
        <label class="col-form-label control-label" for="catchment">Region(s) available to work (select all that apply)</label>
        <select multiple aria-describedby="catchment" aria-required="true" class="form-control <%= errors.catchment ? 'is-invalid' : '' %>" id="catchment" name="catchment" size="25">
          <option value="100MILEHOUSE">100 MILE HOUSE</option>
          <option value="ABBOTSFORD">ABBOTSFORD</option>
          <option value="AGASSIZ">AGASSIZ</option>
          <option value="ALDERGROVE">ALDERGROVE</option>
          <option value="ASHCROFT">ASHCROFT</option>
          <option value="BARRIERE">BARRIERE</option>
          <option value="BELLACOOLA">BELLA COOLA</option>
          <option value="BURNABY">BURNABY</option>
          <option value="BURNSLAKE">BURNS LAKE</option>
          <option value="CAMPBELLRIVER">CAMPBELL RIVER</option>
          <option value="CASTLEGAR">CASTLEGAR</option>
          <option value="CHASE">CHASE</option>
          <option value="CHETWYND">CHETWYND</option>
          <option value="CHILLIWACK">CHILLIWACK</option>
          <option value="CLEARWATER">CLEARWATER</option>
          <option value="COQUITLAM">COQUITLAM</option>
          <option value="COURTENAY">COURTENAY</option>
          <option value="CRANBROOK">CRANBROOK</option>
          <option value="CRESTON">CRESTON</option>
          <option value="DAWSONCREEK">DAWSON CREEK</option>
          <option value="DELTA">DELTA</option>
          <option value="DUNCAN">DUNCAN</option>
          <option value="ENDERBY">ENDERBY</option>
          <option value="FERNIE">FERNIE</option>
          <option value="FORTNELSON">FORT NELSON</option>
          <option value="FORTSTJAMES">FORT ST. JAMES</option>
          <option value="FORTSTJOHN">FORT ST. JOHN</option>
          <option value="GANGES">GANGES</option>
          <option value="GOLDEN">GOLDEN</option>
          <option value="GRANDFORKS">GRAND FORKS</option>
          <option value="HAIDAGWAII">HAIDA GWAII</option>
          <option value="HAZELTON">HAZELTON</option>
          <option value="HOPE">HOPE</option>
          <option value="INVERMERE">INVERMERE</option>
          <option value="KAMLOOPS">KAMLOOPS</option>
          <option value="KELOWNA">KELOWNA</option>
          <option value="KITIMAT">KITIMAT</option>
          <option value="LADYSMITH">LADYSMITH</option>
          <option value="LANGFORD">LANGFORD</option>
          <option value="LANGLEY">LANGLEY</option>
          <option value="LILLOOET">LILLOOET</option>
          <option value="MACKENZIE">MACKENZIE</option>
          <option value="MAPLERIDGE">MAPLE RIDGE</option>
          <option value="MASSET">MASSET</option>
          <option value="MERRITT">MERRITT</option>
          <option value="MISSION">MISSION</option>
          <option value="NAKUSP">NAKUSP</option>
          <option value="NANAIMO">NANAIMO</option>
          <option value="NELSON">NELSON</option>
          <option value="NEWWESTMINSTER">NEW WESTMINSTER</option>
          <option value="NORTHVANCOUVER">NORTH VANCOUVER</option>
          <option value="OLIVER">OLIVER</option>
          <option value="PARKSVILLE">PARKSVILLE</option>
          <option value="PENTICTON">PENTICTON</option>
          <option value="PORTALBERNI">PORT ALBERNI</option>
          <option value="PORTCOQUITLAM">PORT COQUITLAM</option>
          <option value="PORTHARDY">PORT HARDY</option>
          <option value="PORTMOODY">PORT MOODY</option>
          <option value="POWELLRIVER">POWELL RIVER</option>
          <option value="PRINCEGEORGE">PRINCE GEORGE</option>
          <option value="PRINCERUPERT">PRINCE RUPERT</option>
          <option value="PRINCETON">PRINCETON</option>
          <option value="QUEENCHARLOTTE">QUEEN CHARLOTTE</option>
          <option value="QUESNEL">QUESNEL</option>
          <option value="REVELSTOKE">REVELSTOKE</option>
          <option value="RICHMOND">RICHMOND</option>
          <option value="RUTLAND">RUTLAND</option>
          <option value="SAANICH">SAANICH</option>
          <option value="SALMONARM">SALMON ARM</option>
          <option value="SALTSPRINGISLAND">SALT SPRING ISLAND</option>
          <option value="SECHELT">SECHELT</option>
          <option value="SICAMOUS">SICAMOUS</option>
          <option value="SIDNEY">SIDNEY</option>
          <option value="SMITHERS">SMITHERS</option>
          <option value="SOOKE">SOOKE</option>
          <option value="SOUTHSURREY">SOUTH SURREY</option>
          <option value="SQUAMISH">SQUAMISH</option>
          <option value="SUMMERLAND">SUMMERLAND</option>
          <option value="SURREYCLOVERDALE">SURREY CLOVERDALE</option>
          <option value="SURREYFLEETWOODGUILDFORD">SURREY FLEETWOOD/GUILDFORD</option>
          <option value="SURREYNEWTON">SURREY NEWTON</option>
          <option value="SURREYWHALLEY">SURREY WHALLEY</option>
          <option value="TERRACE">TERRACE</option>
          <option value="TOFINO">TOFINO</option>
          <option value="TRAIL">TRAIL</option>
          <option value="UCLUELET">UCLUELET</option>
          <option value="VALEMOUNT">VALEMOUNT</option>
          <option value="VANCOUVERCITYCENTRE">VANCOUVER CITY CENTRE</option>
          <option value="VANCOUVERDOWNTOWNEASTSIDE">VANCOUVER DOWNTOWN EASTSIDE</option>
          <option value="VANCOUVERMIDTOWN">VANCOUVER MIDTOWN</option>
          <option value="VANCOUVERNORTHEAST">VANCOUVER NORTHEAST</option>
          <option value="VANCOUVERSOUTH">VANCOUVER SOUTH</option>
          <option value="VANCOUVERWESTSIDE">VANCOUVER WESTSIDE</option>
          <option value="VANDERHOOF">VANDERHOOF</option>
          <option value="VERNON">VERNON</option>
          <option value="VICTORIA">VICTORIA</option>
          <option value="WESTBANK">WESTBANK</option>
          <option value="WHISTLER">WHISTLER</option>
          <option value="WHITEROCK">WHITE ROCK</option>
          <option value="WILLIAMSLAKE">WILLIAMS LAKE</option>
        </select>
        <% if (errors.catchment) { %>
          <div class="invalid-feedback"><%= errors.catchment.msg %></div>
        <% } %>
      </div>
      -->
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input <%= errors.consent ? 'is-invalid' : '' %>" id="consent"
            name="consent" value="consent" />
          <label class="form-check-label control-label" for="consent"><span style="color:red">*</span> I acknowledge and
            understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that
            by doing so, I am providing the same consent as I would by manually signing a physical copy of this
            form.</label>
          <% if (errors.consent) { %>
          <div class="invalid-feedback"><%= errors.consent.msg %></div>
          <% } %>
        </div>
      </div>
      <!--
        <div class="form-field <%= errors.email ? 'is-invalid' : '' %>">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
        <% if (errors.email) { %>
          <div class="invalid-feedback"><%= errors.email.msg %></div>
        <% } %>
      </div>-->
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </div>
  </form>
</div>

<% 
  function checkCertificates(s){
    if (!data.certificates){
      return false;
    } else {
      return data.certificates.includes(s);
    }
  }
%>